<%= form_for(@developer) do |f| %>
  <% if @developer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@developer.errors.count, "error") %> prohibited this developer from being saved:</h2>

      <ul>
      <% @developer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Name (first and last):" %><br />
    <%= f.text_field :name %>
  </div>
   <div class="field">
    <%= f.label "Email (this will be your username):" %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
   <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label "About Me:" %><br />
    <%= f.text_area :about %>
  </div>
  <div class="field">
    <%= f.label "Looking For:" %><br />
    <%= f.text_area :looking_for %>
  </div>
  <div class="field">
    <%= f.label "Pricing:" %><br />
    <select name="developer[price]" > 
      <option value="Stock Options"> Stock Options </option>
      <option value="$15-$40/hour"> $15-$40/hour </option>
      <option value="$40-$60/hour"> $40-$60/hour </option>
      <option value="$60-$90/hour"> $60-$90/hour </option>
      <option value="$90+/hour"> $90+/hour </option>
    </select> 
  </div>
  <div class="field">
    <%= f.label "Languages:" %><br />
    <%= text_field_tag :language_name %>
    <%= text_field_tag :language_name1 %>
    <%= text_field_tag :language_name2 %>
    <%= text_field_tag :language_name3 %>
  </div>
  <div class="field">
    <%= f.label "Link to GitHub Profile:" %><br />
    <%= f.text_field :git_link %>
  </div>
  <div class="field">
    <%= f.label "Email:" %><br />
    <%= f.text_field :contact_email %>
  </div>
  <div class="field">
    <%= f.label "Cell:" %><br />
    <%= f.number_field :contact_phone %>
  </div>
  <div class="field">
    <%= f.label "Photo URL" %><br />
    <%= f.text_field :photo_url %>
  </div>
  <div class="actions">
    <%= f.submit "Save" %>
  </div>
<% end %>
