
<!-- Only admins can see this page-->
<h1>Developers</h1>

<table>
  <tr>
    <th>Name:</th>
    <th>About:</th>
    <th>Looking for:</th>
    <th>Price Range:</th>
    <th>Languages: </th>
    <th>Git link:</th>
    <th>Email:</th>
    <th>Phone:</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @developers.each do |developer| %>
  <tr>
    <td><%= link_to developer.name, developer %></td>
    <td><%= developer.about %></td>
    <td><%= developer.looking_for %></td>
    <td><%= developer.price %></td>
    <td><% developer.languages.each do |language| %>
        <%= language.name %> <% end %> <td>
    <td><%= developer.git_link %></td>
    <td><%= developer.contact_email %></td>
    <td><%= developer.contact_phone %></td>
    <td> <% if !developer.photo_url.blank? %><img src= <%=developer.photo_url %>/> <% end %> </td>
    <!-- Only if the right dev -->
    <td><%= link_to 'Edit My Profile', edit_developer_path(developer) %></td>
    <!-- If founder -->
    <td><%= link_to 'Reach out to this developer!', developer_path(developer)%></td> 
    <!-- If admin -->
    <td><%= link_to 'Edit', edit_developer_path(developer) %></td>
    <td><%= link_to 'Delete', developer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<!-- Only admin: -->
<%= link_to 'New Developer', new_developer_path %>
