<p id="notice"><%= notice %></p>

<% if current_developer && current_developer.name == @developer.name %>
<h1> My Profile </h1> <%= link_to 'Edit Profile', edit_developer_path(@developer) %> 
<% end %>

<!-- Make this go further down with CSS -->
<h1> <%= @developer.name %> </h1>

<p>
  <b>About:</b>
  <%= @developer.about %>
</p>

<p>
  <b>Looking for:</b>
  <%= @developer.looking_for %>
</p>

<p>
  <b>Price Range:</b>
  <%= @developer.price %>
</p>

 <p>
  <b>Languages:</b>
  <% @developer.languages.each do |language| %>
      <%= language.name %>
      <% end %> 
  </p>

<p>
  <b>Link to GitHub Profile:</b>
  <%= @developer.git_link %>
</p>

<!-- Only if dev or admin -->
<% if current_developer && current_developer.name == @developer.name %>

<h4> Your contact information will only be accessible to people whose projects you're collaborating on.</h4>
<h3> Contact <%= @developer.name.split(" ")[0] %>! </h3>
<p>
  <b>Email:</b>
  <%= @developer.contact_email %>
  <b>Cell:</b>
  <%= @developer.contact_phone %>
</p>
<% end %>

<%= form_tag("/projects", :method => "get") do %>
  <%= submit_tag("View All Projects") %> 
<% end %>

<%= form_tag("/founders", :method => "get") do %>
  <%= submit_tag("View All Founders") %> 
<% end %>

<%= form_tag("/developers", :method => "get") do %>
  <%= submit_tag("View All Developers") %> 
<% end %>

<% if !@developer.photo_url.blank? %>
  <img src= <%=@developer.photo_url %> />
<% end %>

<% if current_founder && !current_founder.projects.nil? %>
<h2 id="founder_ask">Ask <%=@developer.name.split(" ")[0]%> to join a project! </h2>

<%= form_tag("/pending_projects/create", :method => "post") do %>
  <%= select_tag "name", options_from_collection_for_select(current_founder.projects, "name", "name")%>
  <%= hidden_field_tag "developer_id", @developer.id %>
  <%= submit_tag "Submit project to #{@developer.name.split(" ")[0]}" %> 
<% end %>
<% end %>



<div id="pending_projects"> 
<h2>Pending Projects: </h2>

<% if !@developer.pending_projects.blank? %>
  <% @developer.pending_projects.each do |x| %>
   <%= link_to x.name, project_path(Project.find_by_name(x.name)) %> 
  <% end %>
<% end %>

</div>

<!-- Devs can edit or delete these!!!
 -->


<h2>Current Projects: </h2> 

<% if current_developer && current_developer.name == @developer.name %>
<ul>
    <%if !@developer.projects.blank? %> 
      <% @developer.projects.each do |project| %>
        <li>  <%= link_to project.name, project_path(project) %> </li>
        <% end %>
    <% else %>
      <p> You haven't started any projects. Click "View All Projects" to join one! </p>
    <% end %>   
</ul>

<!-- if not dev (else) -->
<% elsif %>

<%if !@developer.projects.blank? %> 
  <h2> <%= @developer.name.split(" ")[0] %>'s Projects: </h2> <ul> 
  <% @developer.projects.each do |project| %>
  <%= link_to project.name, project_path(project)  %> 
  <% end %>  </ul> 
<% end %>

<% end %>
<!-- only admin sees -->
<%= link_to 'Back to Developers', developers_path %>




