<p id="notice"><%= notice %></p>


<h1><%= @project.name %></h1>

<p>
  <b>Founder:</b>
  <%=@project.founder.name %>
</p>

<% if !@project.company.blank? %>
<p>
  <b>Company:</b>
  <%= @project.company %>
</p>
<% end %>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Price Range:</b>
  <%= @project.price %>
</p>

<p>
  <b>Languages:</b>
  <% @project.languages.each do |language| %>
      <%= language.name %>
      <% end %> 
</p>

<p>
  <b>Git link:</b>
  <%= @project.git_link %>
</p>

<!--if developer -->
<h2 id="developer_ask">Ask <%=@project.founder.name.split(" ")[0]%> to join this project! </h2>


<h2>Developers who want to join this project: <h2>
<ul>
  <li> in controller: project.pending_developers.each do |x| puts x.name = pending_dev_names. figure out where you did this before [Accept] [Deny] </li>
</ul>

<h2>Developers collaborating on this project: <h2>
  <p> <% @project.developers.each do |developer| %>
      <%= developer.name %>
      <%end%>

<!-- Only edit if founder or admin -->

<%= link_to 'Edit Project', edit_project_path(@project) %> |

<!-- Anyone -->
<%= link_to 'Back to All Projects', projects_path %>
