<p id="notice"><%= notice %></p>


<h1><%= @project.name %></h1>

<% if current_developer && !PendingProject.where(:developer_id => current_developer.id, :name => @project.name).blank? %>  
    <%= hidden_field_tag "developer_on_project", current_developer %>
    <%= form_tag("/update_developer/#{@project.id}", :method => "post") do %>
    <%= submit_tag("Accept this project") %>
  <% end %>

  <%= hidden_field_tag "developer_denying_project", current_developer %>
    <%= form_tag("/developer_deny/#{@project.id}", :method => "post") do %>
    <%= submit_tag("Deny this project") %>
  <% end %>

<% elsif current_developer %>
    <%= hidden_field_tag "developer_wants_project", current_developer %>
    <%= form_tag("/developer_request/#{@project.id}", :method => "post") do %>
    <%= submit_tag("Request to join this project") %>
  <% end %>

<% end %>

<p>
  <b>Founder:</b>
  <%= link_to @project.founder.name, founder_path(@project.founder) %>
</p>

<% if !@project.company.blank? %>
<p>
  <b>Company:</b>
  <%= @project.company %>
</p>
<% end %>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Price Range:</b>
  <%= @project.price %>
</p>

<p>
  <b>Languages:</b>
  <% @project.languages.each do |language| %>
      <%= language.name %>
      <% end %> 
</p>

<p>
  <b>Git link:</b>
  <%= @project.git_link %>
</p>


<h2>Developers who want to join this project: </h2>
<ul>
<% if !@project.pending_developers.blank? %>

  <li><% @project.pending_developers.each do |developer| %>

    <%= link_to developer.name, developer_path(developer) %>  

    <% if current_founder && !current_founder.projects.find_by_name(@project.name).nil? %> 
      <%= form_tag("/accept_developer/#{developer.id}", :method => "post") do %>
      <input type="hidden" name="project_name" value="<%= @project.name %>">
      <%= submit_tag("Accept #{developer.name} for this project") %>
      <% end %>
    <% end %> 

  <% end %> </li>

<% end %>
</ul>

<h2>Developers collaborating on this project: <h2>
  <p> <% @project.developers.each do |developer| %>
      <%= developer.name %>
      <%end%>

<!-- if person viewing page is the founder of this project:-->
<% if current_founder && current_founder.name == @project.founder.name %>

<%= link_to 'Edit Project', edit_project_path(@project) %> |

<% end %>

<!-- Anyone -->
<%= link_to 'Back to All Projects', projects_path %>
