<p id="notice"><%= notice %></p>


<h1><%= @project.name %></h1>

<% if current_developer && !PendingProject.where(:developer_id => current_developer.id, :name => @project.name).blank? %>  
    <%= hidden_field_tag "developer_on_project", current_developer %>
    <%= form_tag("/update_developer/#{@project.id}", :method => "post") do %>
    <%= submit_tag("Accept this project") %>
  <% end %>
<% end %>

<p>
  <b>Founder:</b>
  <%= link_to @project.founder.name, founder_path(@project.founder) %>
</p>

<% if !@project.company.blank? %>
<p>
  <b>Company:</b>
  <%= @project.company %>
</p>
<% end %>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Price Range:</b>
  <%= @project.price %>
</p>

<p>
  <b>Languages:</b>
  <% @project.languages.each do |language| %>
      <%= language.name %>
      <% end %> 
</p>

<p>
  <b>Git link:</b>
  <%= @project.git_link %>
</p>


<h2>Developers who want to join this project: <h2>
<ul>
  <li> in controller: project.pending_developers.each do |x| puts x.name = pending_dev_names. figure out where you did this before [Accept] [Deny] </li>
</ul>

<h2>Developers collaborating on this project: <h2>
  <p> <% @project.developers.each do |developer| %>
      <%= developer.name %>
      <%end%>

<!-- if person viewing page is the founder of this project:-->
<% if current_founder && current_founder.name == @project.founder.name %>

<%= link_to 'Edit Project', edit_project_path(@project) %> |

<% end %>

<!-- Anyone -->
<%= link_to 'Back to All Projects', projects_path %>
