<%= form_for("founder", :url => founders_url, :method => "post") do |f| %>

  <div class="field">
    <%= f.label "Name (first and last)" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Email (this will be your usernmae):" %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
   <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label "Company(to be):" %><br/> 
    <em>Optional</em> <br />
    <%= f.text_field :company %>
  </div>
  <div class="field">
    <%= f.label "About Me:" %><br />
    <%= f.text_area :about_me %>
  </div>
  <div class="field">
    <%= f.label "Looking for a Developer who:" %><br />
    <%= f.text_area :looking_for %>
  </div>
  <div class="field">
    <%= f.label "Cell:" %><br />
    <%= f.number_field :phone %>
  </div>
  <div class="field">
    <%= f.label "Link to a picture of you!" %><br />
    <%= f.text_field :photo_url %>
  </div>
  <div class="field">
    <%= label_tag :linked_in %><br />
    <%= text_field_tag :linked_in %>
  </div>
  <div class="actions">
    <%= f.submit "Save" %>
  </div>
<% end %>
