<!DOCTYPE html>
<html>
<head>
  <title>Codeideas</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_founder %>
	Logged in as: <%=link_to current_founder.name, founder_path(current_founder.id) %> 
	<%= link_to "Log out", sessions_destroy_path, :method => "delete" %> 
<% elsif current_developer %>
	Logged in as: <%= current_developer.name %> 
	<%= link_to "Log out", sessions_destroy_path, :method => "delete" %> 
<% else %>
	<%= link_to "Sign up as a Founder", new_founder_path %> |
	<%= link_to "Sign up as a Developer", new_developer_path %> |
	<%= link_to "Log in", sessions_new_path %> 
<% end %> 


<%= yield %>

</body>
</html>
